.App {

  text-align: center;
  
  background-color: rgb(225, 203, 173);
  height: 900px;
}
.heading{
  color: #61a4d4;
  padding-top: 30px;
  padding-bottom: -90px;
  font-size: 50px;
}
.input1{
  height: 40px;
  margin-top: 15px;
  width: 500px;

}
.list{
  color: rgb(159, 184, 16);
  font-size: 35px;
  list-style: none; 
  border-style:solid;
  width: 600px;
  margin-left: 150px;
  margin-top: 22px;
  overflow-x: auto;
}
.ul{
  text-decoration: none;
}
.btn{
 margin-left: 5px;
 margin-top: -7px;
 padding-right: 3px;
 
}
.div1{
 margin-left: 19%;
  background-color: rgb(5, 50, 50);
  width: 900px;
  height: 900px;
  float: left;

}
.btn1{
  float: right;
  margin-left: 5px;
 margin-top: 7px;
 padding-right: 3px;
}